@import "tailwindcss";

@theme {
    --color-purple: #E7E4FF;
    --color-primary: #FFFFFF;
    --color-secondary: #1961BA;
    --color-universal: #EFEFEF;

    --padding-componentPadding:60px;
    --paddind-mobilePadding:30px
}